/**/
body { /*Mudando o background da pagina*/
	background: url("../imagens/back-01.png'") repeat;
}
.navbar { /*Mudando a cor da navbar*/
	background: #145845 !important;
}
.navbar-brand { /*Mudando a cor do texto na navbar*/
	color: white !important;
}
.btn-primary { /*Mudando a cor dos botões*/
	background: #145845;
	border-color: #145845;
}
.input-lg { /*Arredondando a borda dos campos de preenchimento*/
	border-radius: 10px;
}
.divLogin { /*Fazendo com que os campos de preenchimento fiquem centralizados na tela*/
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.boxDiv { /*Deixando os tamanhos dos quadros automaticos e arrumando as bordas em formato redondo*/
	width: auto;
	height: auto;
	border: 2px solid white;
	border-radius: 20px;
}
.divCad {
	width: 100vw;
	height: 100vh;
	/*display: flex;*/
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.boxCad {
	border: 2px solid white;
	border-radius: 20px;
}

/*Trecho do css referente as configurações do footer das páginas*/
.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}
.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}