/*Trecho do css referentes as configurações gerais das páginas*/
/*Feito por Caio*/
body { /*Mudando o background da pagina*/
	background: url("../imagens/back-02.png");
}
.navbar { /*Mudando a cor da navbar*/
	background: #145845 !important;
}
.navSection {
	background: #145845 !important;
}
.navbar-brand { /*Mudando a cor do texto na navbar*/
	color: white !important;
}
.desktop {
    display: inline-block;
}
.mobile {
    display: none;
}
@media(max-width: 480px) {
    .desktop{
        display: none;
    }
    .mobile {
        display: inline-block;
    }
}
.arrowIcon {
	color: white;
	font-weight: bold;
}
.arrowIcon:hover {
	color: black;
}
.redirectIcon {
	color: white;
	font-weight: bold;
}
.redirectIcon:hover {
	color: black;

}
.btn-primary { /*Mudando a cor dos botões*/
	background: #145845;
	border-color: #145845;
}
.input-lg { /*Arredondando a borda dos campos de preenchimento*/
	border-radius: 10px;
}
.divLogin { /*Fazendo com que os campos de preenchimento fiquem centralizados na tela*/
	margin-top: 30px;
	width: 100vw;
	/*height: 100vh;*/
	/*display: flex;*/
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.loginLogo {
	max-width: 100%;
	height: auto;
}
.loginLogoDiv {
	text-align: center;
}
.indexLogo {
	min-width: 50%;
	max-width: 100%;
	height: auto;
}
.indexLogoDiv {
	text-align: center;
}
.boxDiv { /*Deixando os tamanhos dos quadros automaticos e arrumando as bordas em formato redondo*/
	border: 2px solid white;
	border-radius: 20px;
	margin-bottom: 30px;
}
.divIndex {
	margin-top: 30px;
	width: 100vw;
	/*height: 100vh;*/
	/*display: flex;*/
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.boxIndex {
	border: 2px solid white;
	border-radius: 20px;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
.divCad {
	margin-top: 30px;
	width: 100vw;
	/*height: 100vh;*/
	/*display: flex;*/
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.boxCad {
	border: 2px solid white;
	border-radius: 20px;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
.cadCheck { /*Altera o tamanho da checkbox*/
	-ms-transform: scale(2);
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	-o-transform: scale(2);
	padding: 10px;
	margin-left: 5px;
	margin-right: 10px;
}
.cadP {
	text-align: center;
}
.btnCancelar {
	text-decoration: none;
}


/*Trecho que faz modificações nos icones do font awesome*/
.navigation-menu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0;
    text-align: center;
}
.navigation-menu a {
    display: inline-grid;
    color: white;
    background-color: #145845;
    font-size: 35px;
    font-weight: bold;
    box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.26);
    text-decoration: none;
    /*text-transform: uppercase;
    white-space: nowrap;*/
    border: 1px solid #161718;
    border-top: none;
    width: 120px;
    margin: 5px;
    padding: 20px 0;
    box-sizing: border-box;
}
.navigation-menu a:hover {
    background-color: #27292a;
}
.navigation-menu a i {
    display: block;
    line-height: 1.3;
}
.navigation-menu a span {
    display: block;
    font-size: 11px;
    font-weight: bold;
    line-height: 2;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
/*Trecho referente ao css na pagina de ocorrencias*/
/*Feito por Rogerio*/
.box-tipoOcorrencias{
    margin-top: 10px;
}
.regBox{
    background: #145845;
    color:white;
    text-align: center;
    font-size:1.0em;
    width:100%;
    height:50px;   
}
.linkSetores{
    margin-top: 50px;
    margin-left:20px;
}
.linkBox{
    background: white;   
    text-align: center;
    font-size:1.0em;
    width:60%;
    height:50px;   
}
.menuDiv{
    display: inline-grid;
    margin-bottom: 20px;
}
.btnLogout{
	color: white;
	background: #145845;
	border-color: #145845;
	border: 0px;
	margin: 0px;
}
.btnLogout:hover{
	background-color: #27292a;
}

/*Trecho do css referente as configurações do footer das páginas*/
/*Feito por Rhuan*/
.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}
.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}
@media (max-width: 800px) {
    .footerSection{
        display:none;
    }
}